<div class="warning">
    <div class="title">
        <img src="assets/tick-green-icon.svg" alt="green tick" width="20px">
        <h4>Account Created!</h4>
        
    </div>
    
    <div class="responseOk">
        <img src="assets/email-received-icon.svg" alt="email" width="50px">
        <h3>Please check your Email!</h3>
        <p>Click the link in the email to verify your account!</p>
        <button class="email" type="button" (click)="closeDialog()"> Go to email</button>
    </div>
</div>
