h1{
  margin-bottom: 0;
}

h5{
  margin-top: 20px;
  margin-bottom: 15px;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

p{
  font-size: smaller;
  color: rgb(70, 70, 70);
}


button{
  background-color: rgb(4, 4, 126);
  color: aliceblue;
  width: 20%;
  height: 30px;
  border-radius: 10px;
}

button:hover{
  background-color:rgb(34, 143, 238);
  color: white;

}

.btn-cancel{
  background-color: rgb(223, 223, 223);
  color: rgb(0, 0, 0);
  width: 20%;
  height: 30px;
  border-radius: 10px;
}

.btn-cancel:hover{
  background-color: rgb(116, 116, 116);
  color: white;

}


.nameLname-container{
  display: flex;
  width: 100%;
}


.info{
  display: flex;
  flex-direction: column;
}

.name{
  display: flex;
  width: 50%;
  flex-direction: column;
}

.Lname{
  display: flex;
  width: 50%;
  flex-direction: column;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}

.buttons button{
  width: 90%;
}

.right{
  display: flex;
  width: 45%;
  height: 90vh;
  align-items: center;
  justify-content: center;

}

.pswderror{
  color: brown;
}

input{
  height: 30px;
  border-radius: 10px;
  margin: 5px;
}
