<div class="board">
  <div class="tools">
    <div class="tools-options">
      <input type="text" placeholder="Search Item">
      <label for="date">{{ getCurrentMonthAndYear() }}</label>
      <div class="dropdown">
        <button class="dropbtn">All dates &#x25BC;</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Everyone &#x25BC;</button>
        <div class="dropdown-content">
          <a href="#">Link 4</a>
          <a href="#">Link 5</a>
          <a href="#">Link 6</a>
        </div>
      </div>
      <div>
        <input type="checkbox" id="myCheckbox">
        <label for="myCheckbox">Hide Completed</label>
      </div>
    </div>

    <div class="dep-projs">
      <div class="dep" *ngFor="let dep of deps">
        <div class="dep-header" (click)="toggleDropdown(dep)">
          <div>
            {{ dep.name }}  
            <span class="caret" [ngClass]="{'caret-up': dep.showDropdown}">&#x25BC;</span>
          </div>
         
          <div>
            <!-- Add button to open add epic dialog -->
            <button (click)="openAddEpicDialog()">Add Epic</button>
            <!-- Add button to open add task dialog -->
            <button (click)="openAddTaskDialog()">Add Task</button>
          </div>         
        </div>

        <!-- Dropdown content -->
        <div class="dep-dropdown" [ngClass]="{'show': dep.showDropdown}">
          <!-- Your dropdown content -->
        </div>
      </div>
    </div>
  </div>
</div>