<header>
    <div class="head-uno">
      <img src="assets/uno_symbol.png" alt="uno_symbol" width="40px;" height="40px">
      <h3>Roadmap System</h3>
    </div>
    <div class="head-links">
      <li>
        <img src="assets/lines-view-icon.svg" alt="uno_symbol" width="30px;" height="30px">
        <a routerLink="">Roadmap</a>
      </li>
      <li>
        <img src="assets/Group95.svg" alt="uno_symbol" width="30px;" height="30px">
        <a routerLink="">Users</a>
      </li>
      <li>  
        <img src="assets/document-icon.svg" alt="uno_symbol" width="30px;" height="30px">                  
        <a href="">Project List</a>
      </li>
    
    </div>
    <div class="head-user">
        <label for="username"> Logged in user</label>
        <img src="assets/user.png" alt="uno_symbol" width="40px;" height="40px"> <a href="">&#x25BC;</a>
    </div>
  
  </header>

  <div class="board">

<div class="tools">
    <div class="tools-options">
    <input type="text"  placeholder="Search Item">
    <label for="date">{{ getCurrentMonthAndYear() }}</label>
    <div class="dropdown">
        <button class="dropbtn">  All dates &#x25BC;</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>

        <button class="dropbtn">  Everyone &#x25BC;</button>
        <div class="dropdown-content">
          <a href="#">Link 4</a>
          <a href="#">Link 5</a>
          <a href="#">Link 6</a>
        </div>
      </div>
    <input type="checkbox" id="myCheckbox">
    <label for="myCheckbox">Hide Completed</label>    
    </div>
    <div class="Asset-mgmt">
        <p>Asset Management</p>
        <div class="AM-buttons">
            <button type="button">Add Epyc</button>
            <button type="button">Add Task</button>

        </div>
    </div>
    

</div>

</div>